.welcome-page-head .brand img{
	max-width: 90px;
}

.brand{
	margin-top: 20px;
}

.brand h3{
	margin-top: 20px;
	margin-bottom: 10px;
}

.login{
	margin-top: 30px;
}

.login .form-inline h4{
	width: 100%;
	font-family: 
}